@()(implicit session:play.api.mvc.Session)
@main("create contact"){
	<form class="well">
		<label>Telephone</label>
		<input type="tel" id="telephone" name="telephone" />
		<label>Name</label>
		<input type="text" id="name" name="name" />
		<label>Surname</label>
		<input type="text" id="surname" name="surname" />
		<label>Genre</label>
		<select id="genre" name="genre">
			<option value="U">Undefined</option>
			<option value="M">Male</option>
			<option value="F">Female</option>
		</select>
		<br/>
		<input type="submit" class="btn btn-primary" value="Submit" />
	</form>
}