@(contact:Contact)(implicit session:play.api.mvc.Session)
@main("create contact"){
	<form method="POST" action="@routes.Contacts.update(contact.id.get)">
		<div class="span12">
			<label>Name</label>
			<input type="text" id="name" name="name" value="@contact.name" />
		</div>
		<div class="span12">
			<label>Surname</label>
			<input type="text" id="surname" name="surname"  value="@contact.surname" />
		</div>
		<div class="span12">
			<label>Genre</label>
			<select class="span12" id="genre" name="genre">
				<option value="U" @if(contact.genre == "U"){selected}>Undefined</option>
				<option value="M" @if(contact.genre == "M"){selected}>Male</option>
				<option value="F" @if(contact.genre == "F"){selected}>Female</option>
			</select>
		</div>
		<div class="span12">
			<label>Telephone</label>
			<input type="tel" id="telephone" name="telephone"  value="@contact.telephone"/>
		</div>
	   <div class="span12">
	   	 <input type="submit" title="Submit" value="Check" class="btn btn-success span12"/>
	   </div>
	   <div class="span12">
	   	 <a title="Cancel" href="@routes.Application.index" class="btn span12">Cancel</a>
	   </div>
	</form>
}