@(id:Long, managees: Seq[models.User])(implicit flash:Flash, session:play.api.mvc.Session)

@import Option._
@import helper._

@main("Create Dose"){
	<form method="POST" action="@routes.Doses.create(id)">
	   <div class="span12">
	     <label title="Medicine" for="medicine">Medicine:</label><br>
	     <input class="span12" type="text" name="medicine" id="medicine" placeholder="Place a Medicine"/>
	   </div>
	   <div class="span12">
	     <label title="Amount" for="amount">Amount:</label><br>
	     <input class="span12" type="text" name="amount" id="amount" placeholder="Place the amount required"/>
	   </div>
	   <div class="span12">
	     <label title="Measure" for="measure">Measure:</label><br>
	     <input class="span12" type="text" name="measure" id="measure" placeholder="Place the measure"/>
	   </div>
	   <div class="span12">
	     <label title="Period" for="period">Period:</label><br>
	     <input class="span12" type="number" name="period" id="period" placeholder="Place the period"/>
	   </div>
	   <div class="span12">
	     <label title="User" for="user_id">User:</label><br>
	     <select id="user_id" name="user_id" class="span12">
	     	@for(managee <- managees){
			<option value="@managee.id">@managee.name @managee.surname</option>
			}
		 </select>
	   </div>
	   <div class="span12">
	   	 <input type="submit" title="Submit" value="Check" class="btn btn-success span12"/>
	   </div>
	   <div class="span12">
	   	 <a title="Cancel" href="@routes.Application.index" class="btn span12">Cancel</a>
	   </div>
	</form>
}