@* create Template File *@
@(id:Long)(implicit flash:Flash)

@import Option._
@import helper._

@main ("Create Dose"){
	@helper.form(action = routes.Doses.create(id)) {
	   <div class="span12">
	     <label title="Medicine" for="fragment">Medicine:</label><br>
	     <input type="text" name="name" id="name" placeholder="Place a Medicine"/>
	   </div>
	   <div class="span12">
	     <label title="Amount" for="amount">Medicine:</label><br>
	     <input type="text" name="amount" id="amount" placeholder="Place the amount required"/>
	   </div>
	   <div class="span12">
	     <label title="Measure" for="measure">Measure:</label><br>
	     <input type="text" name="measure" id="measure" placeholder="Place the measure"/>
	   </div>
	   <div class="span12">
	     <label title="User" for="user">User:</label><br>
	     <input type="text" name="user" id="user" placeholder="Place the user"/>
	   </div>
	   <div class="span12">
	   	 <input type="submit" title="Submit for validation" value="Check" class="button"/>
	   </div>
	}
}