@(dose:Dose, managees: Seq[models.User])(implicit flash:Flash, session:play.api.mvc.Session)

@import Option._
@import helper._

@main("Update Dose") {
	<form method="POST" action="@routes.Doses.update(dose.id.get)">
	   <div class="span12">
	     <label title="Medicine" for="name">Medicine:</label><br>
	     <input class="span12" type="text" name="medicine" id="medicine" placeholder="Place a Medicine" value="@dose.medicine"/>
	   </div>
	   <div class="span12">
	     <label title="Amount" for="amount">Medicine:</label><br>
	     <input class="span12" type="text" name="amount" id="amount" placeholder="Place the amount required" value="@dose.amount"/>
	   </div>
	   <div class="span12">
	     <label title="Measure" for="measure">Measure:</label><br>
	     <input class="span12" type="text" name="measure" id="measure" placeholder="Place the measure" value="@dose.measure"/>
	   </div>
	   <div class="span12">
	     <label title="Period" for="period">Period:</label><br>
	     <input class="span12" type="number" name="period" id="period" placeholder="Place the period" value="@dose.period"/>
	   </div>
	   <div class="span12">
	     <label title="User" for="user_id">User:</label><br>
	     <select id="user_id" name="user_id" class="span12">
	     	@for(managee <- managees){
			<option @if(managee.id.get == dose.user.id.get){selected} value="@managee.id">@managee.name @managee.surname</option>
			}
		 </select>
	   </div>
	   <div class="span12">
	   	 <input type="submit" title="Submit" value="Check" class="btn btn-success span12"/>
	   </div>
	   <div class="span12">
	   	 <a title="Cancel" href="@routes.Application.index" class="btn span12">Cancel</a>
	   </div>
	</form>
}